@import './normalize.scss';
@import './container.scss';
@import './style-one.scss';
@import './body.scss';
@import './home.scss';

:root {
  --main-color: rgb(143, 226, 204);
  --green : rgb(84, 197, 167);
}

* {
  color: #2c3e50;
}

.link h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
  }

  a {
    text-align: center;
    display: block;
    background-color: rgba(223, 230, 233, .9);
    border-radius: 5;
  }

}

a.link {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border: solid 1px gray;
  background-color: rgba(223, 230, 233, .9);
  border-radius: 5;

}

.main-counter {
  display: block;
  font-size: 5rem;
  padding: 1rem 5rem;
  text-align: center;
  font-weight: bold;
  text-wrap: wrap;
  border-radius: .5rem;
  background-color: rgba(223, 230, 233, .9);
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: rgba(223, 230, 233, .9);
  border-radius: 5;

  #number {
    border: none;
    padding: 1rem;
    // font-size: 2rem;
  }

  #user-counter {
    padding: 10px;
    font-size: 3rem;
    text-wrap: wrap;
    color: var(--green);
  }

  button {
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin: .5rem;
    background-color: var(--green);
    border: none;
    color: white;
    border-radius: 5;
  }
}


#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .link {
    h1 {
      a {
        border: solid 1px lightgray;
      }
    }
  }
.input #number{
  width: 15rem;

}
  .main-counter {
    padding: 1rem 2rem;
    font-size: 3rem;
  }

}